@charset "UTF-8";

/*link to animation file*/
@import "animations.css";

/*Styling for hamburger element*/

* {
  box-sizing: border-box;
}

/* Hamburger container/background */
#hamburger {
  width: 3.5em;
  height: 3.5em;
  padding: 0.5em;
  display: block;
  background-color: #4A4A4A; /* hamburger background colour*/
  position: relative;
}

#hamburger .bars {
  background-color: #fff;
  width: 2.5rem;
  height: 0.5rem;
  display: block;
  position: absolute;
}

#hamburger #bar1 {
  top: 0.5rem;
}

#hamburger #bar2 {
  top: 1.5rem;
  transition: opacity 0.25s;
  z-index: 68;
}

#hamburger #bar3 {
  bottom: 0.5rem;
}
